@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body {
  margin: 0px;
  font-family: 'Delius', cursive; 
  line-height: 26px;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
}

