@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poppins:ital@0;1&family=Raleway:ital,wght@0,400;0,600;1,100&display=swap');

body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  line-height: 26px;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
}

