@import "src/styles/vars";

.formations {
  margin-top: 20px;
  padding: 30px 20px;
  word-spacing: 1px;
  line-height: 24px;


  &-title {
    margin-top: 20px;
  }
  &-span {
    color: $black;
    font-size: 0.9em;
  }
}
